// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box1  {
 display: flex;
 justify-content: center;
 margin: 0 auto;
}


.item_box  {
 display: flex;
 justify-content: center;
 margin: 0 auto;
 align-content: flex-end;
}

.new_item_box  {
 margin: 5px;
}

